

<iframe width="560" height="315" src="https://www.youtube.com/embed/sHD-knhS6es" frameborder="0" allowfullscreen></iframe>
<div class='text-center'>
	
	<h1> Pictures </h1>
		<div class='row'>
			
			<div class='col-md-4'>
				<h1>Picture 1</h1>
				<img src="<%=@dog1 %>" height="400" width="400">
			</div>

			<div class='col-md-4'>
				<h1 style="hover: ">Picture 2</h1>
				<img src="<%=@dog2 %>" height="400" width="400">
			</div>

			<div class='col-md-4'>
				<h1>Picture 3</h1>
				<img src="<%=@dog3 %>" height="400" width="400">
			</div>
		</div>
		<segment>
			<FORM>
				<INPUT TYPE="button" onClick="history.go(0)" VALUE="חדש">
			</FORM>
		</segment>
		<img src="http://media.moddb.com/images/groups/1/15/14536/Red-Fox-Animal-Facts.jpg" style = "width: 50; height" 50>
</div>
